/* INDEX.HTML*/
* ,html,body{
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: 700;
  text-align: right;
  font-size: 60px;
  padding-right: 150px;
}

form {
  padding-left: 90px;
}

.container-fluid {
  height: 100vh;

}

.leftSide {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rightSide{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  height: 100vh;
  color: white;
  background-color: #0a002a;
}

.studentInput {
  font-size: 15px;
  padding-left: 40px;
  width: 500px;
  height: 70px;
  margin-bottom: 60px;
  border-radius: 10px;
  outline:none;
  background-color:transperent;
  border: 1px solid #979797;
}

.btnQuiz {
  margin: 0 auto;
  width: 50%;
  height: 70px;
  background-color: #ff533d;
  border-radius: 0;
  color: white;
  border: none;
  margin-top: 100px;

}

.btnQuiz:hover {
  background-color: #ff2a0f;
}

 a {
   color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: white;
}

/*QUIZ.HTML*/
.panel {
  width: 50%;
  margin-left: 25%;
}

h2.panel-title {
  font-size: 25px;
  text-align: center;
  color:white;
  font-weight:900;
}
h6.panel-title {
  font-weight: 700;
}
.panel-heading {
  background-color: #ff533d;
}
.panel-title{
  font-size: 22px;
  font-weight: bold;
  background-color: #ff533d;
}
.panel-body{
  font-size: 18px;
  font-weight: normal;
}
#quizPage{
  padding: inherit;
}

}

 .panel-default>.panel-heading {
   color: white;
 }

.panel-body{
  background-color: white;
  color: black;
}
.panel-heading{
  background-color: #ff533d;
}

.myButton {
  margin-left: 60%;
  border-radius: none;
  width: 30%;
  background-color: #ff533d;
  height: 60px;
  color: white;
}

button#retry {
  margin-left: 5%;
}

.myButton:active {
  position:relative;
  top:1px;
}

.btn.btn-default {
  margin-left: 27%;
  border-radius: none;
  width: 10%;
  background-color: #ff533d;
  height: 60px;
  color: white;
}

input[type="radio"], input[type="checkbox"] {
  margin-right: 10px;
}

div#youScore {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  position: absolute;
  top: 200%;
  right:80%;
  width:50%;
  text-align: center;
}

.questionForm{
  background-color: #0f1626;
}
